<div id="<%= dom_id membership %>">
    <strong>Beer club:</strong>
    <% @beerclubs.each do |club| %>
        <% if club.id == membership.beer_club_id %>
            <%= club.name %>
        <% end %>
    <% end %>
    <br>
    <strong>User:</strong>
    <% @users.each do |user| %>
        <% if user.id == membership.user_id %>
            <%= user.username %>
        <% end %>
    <% end %>
</div>
