<h1>Memberships</h1>

<div id="memberships">
  <p>Number of memberships: <%= @memberships.count %></p>
  <% @memberships.each do |membership| %>
    <p>
      <%= render membership %>
      <%= link_to "Show this membership", membership %>
    </p>
  <% end %>
</div>

<%= link_to "New membership", new_membership_path %>
